:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    overflow: hidden;
    height: 100vh;
}